<div class="container-fluid">
  <nav class="row bg-light" style="height: 80px;border-bottom: 3px solid #707070">
    <div class="col-2">
      <div class="align-center">
        <div class="text-right" style="font-size: 30px; width: 200px;">3CX SURVEY</div>
        <div class="text-right" style="line-height: 0.1">backoffice</div>
      </div>
    </div>
    <div class="col form-inline" >
      <div class="btn-header" routerLink="/dashboard">Dashboard</div>
      <div class="btn-header" routerLink="/clients">Clients</div>
    </div>
    <div class="col-1 bg-info">
      <a class="align-center align-signout" >Sign out</a>
    </div>
  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>